.toolbar-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.toolbar-title {
  margin-right: 50px;
}

.toolbar-menu {
  margin-right: 50px;
  cursor: pointer;
}